@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playwrite';
    src: url('./assets/fonts/Playwrite-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-poppins: 'Poppins', system-ui, sans-serif;
    --font-playwrite: 'Playwrite', system-ui, sans-serif;
}